/* Google Font CDN Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html body#home-page div#blankrefer {
  padding-top: 100px;
}

/*Navigation Menu CSS */
nav {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  transition: all 0.4s ease;
  font-family: "Ubuntu", "sans-serif";
  background: white;
  z-index: 0;
}
nav.sticky {
  padding: 13px 0;
  background: rgb(96, 211, 148);
}
nav .navbar {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .navbar .logo {
  display: flex;
  align-items: center;
}

/* FoodBrain Logo */
nav .navbar .logo a {
  font-size: 40px;
  font-weight: 500;
  color: rgb(96, 211, 148);
}

nav.sticky .navbar .logo a {
  color: white;
}

/* Center Menu */
nav .navbar .menu {
  display: flex;
}
nav .navbar .menu li {
  list-style: none;
  margin: 0 8px;
}
nav .navbar .menu li a {
  font-size: 18px;
  font-size: 500;
  color: rgb(82, 182, 154);
  transition: all 0.3s ease;
}
nav .navbar .menu li a:hover {
  color: rgb(22, 138, 173);
}
nav.sticky .navbar .menu li a {
  color: white;
}
nav.sticky .navbar .menu li a:hover {
  color: rgb(52, 160, 164);
}

/* Sign In Button */
.navbar .login a {
  font-size: 40px;
  margin: 0 6px;
  color: rgb(96, 211, 148);
}
nav.sticky .navbar .login a {
  color: white;
}

/* Side Nav Menu Button CSS*/
nav .menu-btn,
.navbar .cancel-btn {
  position: absolute;
  color: rgb(255, 255, 194);
  font-size: 20px;
  right: 30px;
  top: 20px;
  display: none;
}

/* Home Page Section CSS */
.home {
  height: 100vh;
  width: 100%;
  background: url("Images/fruits.png") no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Ubuntu", "sans-serif";
}
.home .home-content {
  height: 100%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .text .text-one {
  font-size: 75px;
  font-weight: 600;
  color: rgb(82, 182, 154);
  text-align: end;
  padding-right: 300px;
}
.home .button {
  margin-right: 545px;
  text-align: right;
  padding-right: 300;
}
.home .button button {
  outline: none;
  color: white;
  background: rgb(96, 211, 148);
  font-size: 25px;
  font-weight: 500;
  padding: 8px 16px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.home .button button:hover {
  background: rgb(96, 211, 148);
  background-color: white;
  border-color: rgb(96, 211, 148);
  color: rgb(96, 211, 148);
}
nav .menu-btn {
  color: rgb(82, 182, 154);
}

/* Footer Section CSS */
footer {
  text-align: center;
  background: rgb(96, 211, 148);
  padding-left: 15px 0;
}
footer .text span{
  color: #303036;
  font-size: 17px;
  font-weight: 500;
}

/* Responsive Media Query CSS */
@media (max-width: 750px) {
  nav .navbar .menu {
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    max-width: 400px;
    width: 100%;
    background: rgb(96, 211, 148);
    padding-top: 60px;
    transition: all 0.5s ease;
  }
  nav .navbar.active .menu {
    left: 0;
  }
  nav .navbar .menu li a {
    margin: 10px 0;
    display: block;
    font-size: 23px;
    color: rgb(255, 255, 194);
    list-style: none;
  }
  .navbar .login a {
    display: none;
  }
  nav .menu-btn,
  .navbar .cancel-btn {
    display: block;
  }
  .home .text .text-one {
    font-size: 65px;
  }
}

@media (max-width: 510px) {
  .home .text .text-one {
    font-size: 55px;
  }
}
